pipeline {
    agent any
    tools {
        nodejs "node"
    }

    stages {
        stage('Clean Workspace') {
            steps {
                cleanWs()
            }
        }
        
        stage('Checkout from SCM') {
            steps {
                git branch: 'main', url: 'gitRepostioryURL'
            }
        }
        
        stage('Bulid') {
            steps {
                bat "npm install"
                bat "npm start"
            }
        }
        
    }
}